@import './../../../../../assets/styles/variables';

.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $blue;
  color: $white;
  font-weight: 600;
  img {
    margin: 0 16px;
  }
  .search-user-form {
    margin: 0 auto;
  }
}