<mat-card class="card">
    <app-loading-spinner *ngIf="isLoadingUserDetails"></app-loading-spinner>
    <div *ngIf="!isLoadingUserDetails">
        <img mat-card-image [src]="user.avatar_url" alt="User avatar">
        <mat-card-header>
            <mat-card-title>{{user.login}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <a mat-button [href]="user.html_url" class="redirect-github-button">Go to Github <mat-icon class="arrow-icon">arrow_right_alt</mat-icon>
            </a>
        </mat-card-actions>
    </div>
</mat-card>