.card {
    max-width: fit-content;

    .arrow-icon { /* hide and position tooltip */
        opacity: 0;
        position:absolute;
        top: 8px;
        left: 100px;
        transition: all 600ms;
    }
    
    .redirect-github-button {
        width:100%;
        text-align: start;
    }

    .redirect-github-button:hover .arrow-icon {
        opacity: 1;
        position:absolute;
        left: 120px;
        transition: all 600ms;
    }
}
